{% extends "base.html" %}
{% load static %}
{% block content %}

<html>

<head>
    <title>{% block title %} Shared Clipboard | To do List{% endblock %}</title>
</head>

<body>
    {% if profile %}
    <!-- <div class="container">
        <div class="siteimage img-container textandstuff">
            <img alt="sharedClipboard" width="200px" src="{% static 'images/sharedclip.png' %}">
            <h2 style="margin-top:-23px; font-size: 22px;">sharedClip</h2>
        </div>
        <div class="form-container">
            <header>
                <h4>Good day, {{name}} {{profile.email}}</h4>
            </header>
            <div>
                <form action="create" method="POST">
                    {%csrf_token%}
                    <textarea rows="10" name="clip" cols="50" placeholder="{ Enter clip }"></textarea>
                    <button class="button" type="submit">SAVE</button>
                </form>
                <ul class="clips">
                    {%for date, clip in content%}
                    <li>{{date}}: {{clip}} </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div> -->
    <div class="container">
        <div style="text-align: center; color:white">
            <h2>sharedClip</h2>
        </div>
        <div class="data">
            <div>
                <h2 style="text-align: center;">Some words, Useful later </h2>
            </div>
            <div class="indo">
                <span class="clipscontn">
                    <ul>
                        {%for date, clip in content%}
                        <li id="{{forloop.counter}}" onclick=clicked(id)>{{date}}: {{clip}} </li>
                        {%endfor%}
                    </ul>
                </span>
                <form action="create" method="POST">
                    <span class="textcontn">
                        {% csrf_token %}
                        <textarea rows="" id="name" cols="" name="clip"></textarea>
                    </span>
                    <span class="btncontn">
                        <button class="btn" type="submit"> Save </button>
                    </span>
                </form>
            </div>
        </div>
    </div>
    <button class="btn" onclick="location.href='{%url 'logout'%}'"> Logout</button>
    {% else %}
    <div class="" style="text-align: center; color:white">
        <h2>Welcome to sharedClipboard</h2>
        <button onclick="location.href='{%url 'signup'%}'"> Signup</button>
        <button onclick="location.href='{%url 'login'%}'"> Login</button>
    </div>
    {%endif%}
</body>

<script>
    function clicked(id) {
        let word = document.getElementById(id).innerHTML
        word = word.split(": ")  
        document.getElementById("name").innerHTML = word[1]
    }
</script>

</html>
{% endblock content %}